{% extends "home/base.html" %} {% load static %} {% block index %}

<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    {% for about in about %}
    <div class="row g-5">
      <div class="col-lg-7">
        <div class="section-title-1 position-relative pb-3 mb-5">
          <h5 class="fw-bold text-primary text-uppercase">About Us</h5>
          <h1 class="mb-0">{{about.title}}</h1>
        </div>
        <p class="mb-4">{{about.body}}</p>
        <div class="row g-0 mb-3">
          {% for features in features %}
          <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
            <h5 class="mb-3">
              <i class="fa fa-check text-primary me-3"></i>{{features.name}}
            </h5>
          </div>
          {% endfor %}
        </div>
        <div
          class="d-flex align-items-center mb-4 wow fadeIn"
          data-wow-delay="0.6s"
        >
          <div
            class="bg-primary d-flex align-items-center justify-content-center rounded"
            style="width: 60px; height: 60px"
          >
            <i class="fa fa-phone-alt text-white"></i>
          </div>
          <div class="ps-4">
            <h5 class="mb-2">Call to ask any question</h5>
            <h4 class="text-primary mb-0">+1902 499 5148</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-5" style="min-height: 500px">
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.9s"
            src="{{about.image.url}}"
            style="object-fit: cover"
          />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- About End -->

<!-- Features Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title-1 text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Why Choose Us</h5>
      <h1 class="mb-0">We Are Here to Grow Your Business Exponentially</h1>
    </div>
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="row g-5">
          {% for ch in choose %} {% if forloop.counter <= 2 %}
          <div class="col-md-6 col-lg-12 wow zoomIn" data-wow-delay="0.2s">
            <div
              class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
              style="width: 60px; height: 60px"
            >
              <i class="fa fa-cubes text-white"></i>
            </div>
            <h4>{{ch.name}}</h4>
            <p class="mb-0">{{ch.description}}</p>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
      <div
        class="col-lg-4 wow zoomIn"
        data-wow-delay="0.9s"
        style="min-height: 350px"
      >
        <div class="position-relative h-100">
          <img
            class="position-absolute w-100 h-100 rounded wow zoomIn"
            data-wow-delay="0.1s"
            src="{% static 'img/feature.jpg' %}"
            style="object-fit: cover"
          />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row g-5">
          {% for ch in choose %} {% if forloop.counter >= 3 %}
          <div class="col-md-6 col-lg-12 wow zoomIn" data-wow-delay="0.4s">
            <div
              class="bg-primary rounded d-flex align-items-center justify-content-center mb-3"
              style="width: 60px; height: 60px"
            >
              <i class="fa fa-users-cog text-white"></i>
            </div>
            <h4>{{ch.name}}</h4>
            <p class="mb-0">{{ch.description}}</p>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features Start -->

<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title-1 text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
      <h1 class="mb-0">Custom IT Solutions for Your Successful Business</h1>
    </div>
    <div class="row g-5">
      {% for service in services %}
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
        >
          <div class="service-icon">
            <i class="fa fa-chart-pie text-white"></i>
          </div>
          <h4 class="mb-3">{{service.title}}</h4>
          <p class="m-0">{{service.body | slice:100}}</p>
          <a class="btn btn-lg btn-primary rounded" href="">
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Service End -->

<!-- Work Process Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title-1 text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Work Process</h5>
      <h1 class="mb-0">Step By Step Simple & Clean Working Process</h1>
    </div>
    <div class="row g-5">
      {% for process in process %}
      <div class="col-lg-3 col-md-6 process-item wow slideInUp" data-wow-delay="0.2s">
        
        <div class="position-relative d-flex flex-column align-items-center text-center">
          <div class="process-icon bg-primary rounded d-flex align-items-center justify-content-center mb-4">
            <i class="fa fa-search fa-2x text-white"></i>
          </div>
          <h3>{{process.title}}</h3>
          <p class="mb-0">
            {{process.body | slice:80}}
          </p>
        </div>
      </div>
      {% endfor %}
      
      
    </div>
  </div>
</div>
<!-- Work Process End -->



<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title-1 text-center position-relative pb-3 mb-4 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Testimonial</h5>
      <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
    </div>
    <div
      class="owl-carousel testimonial-carousel wow fadeInUp"
      data-wow-delay="0.6s"
    >
      {% for test in test %}
      <div class="testimonial-item bg-light my-4">
        <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
          <img
            class="img-fluid rounded"
            src="{{test.image.url}}"
            style="width: 60px; height: 60px"
          />
          <div class="ps-4">
            <h4 class="text-primary mb-1">{{test.name}}</h4>
            <small class="text-uppercase">{{test.profession}}</small>
          </div>
        </div>
        <div class="pt-4 pb-5 px-5">
          {{test.body}}
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>
<!-- Testimonial End -->


<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title-1 text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Team Members</h5>
      <h1 class="mb-0">Professional Stuffs Ready to Help Your Business</h1>
    </div>
    <div class="row g-5">
      {% for staff in staff %}
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="team-item bg-light rounded overflow-hidden">
          <div class="team-img position-relative overflow-hidden">
            <img
              class="img-fluid w-100"
              src="{{staff.image.url}}"
              alt=""
            />
            <div class="team-social">
              <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""
                ><i class="fab fa-twitter fw-normal"></i
              ></a>
              <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""
                ><i class="fab fa-facebook-f fw-normal"></i
              ></a>
              <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""
                ><i class="fab fa-instagram fw-normal"></i
              ></a>
              <a class="btn btn-lg btn-primary btn-lg-square rounded" href=""
                ><i class="fab fa-linkedin-in fw-normal"></i
              ></a>
            </div>
          </div>
          <div class="text-center py-4">
            <h4 class="text-primary">{{staff.name}}</h4>
            <p class="text-uppercase m-0">{{staff.designation}}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
<!-- Team End -->

<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">
    <div
      class="section-title-1 text-center position-relative pb-3 mb-5 mx-auto"
      style="max-width: 600px"
    >
      <h5 class="fw-bold text-primary text-uppercase">Latest Blog</h5>
      <h1 class="mb-0">Read The Latest Articles from Our Blog Post</h1>
    </div>
    <div class="row g-5">
      {% for blog in blog %}
      {% if forloop.counter <= 3 %}
      <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
        <div class="blog-item bg-light rounded overflow-hidden">
          <div class="blog-img position-relative overflow-hidden">
            <img
              class="img-fluid w-100"
              src="{{blog.image.url}}"
              alt=""
            />
            <a
              class="position-absolute top-0 start-0 bg-primary text-white rounded-end mt-5 py-2 px-4"
              href=""
              >{{blog.category.name}}</a
            >
          </div>
          <div class="p-4">
            <div class="d-flex mb-3">
              <small class="me-3"
                ><i class="far fa-user text-primary me-2"></i>{{blog.author.username}}</small
              >
              <small
                ><i class="far fa-calendar-alt text-primary me-2"></i>{{blog.date_created|date:"D d M Y"}}</small
              >
            </div>
            <h4 class="mb-3">{{blog.title}}</h4>
            <p>
              {{blog.body | slice:100}}
            </p>
            <a class="text-uppercase" href=""
              >Read More <i class="bi bi-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
<!-- Blog Start -->



{% endblock %}
